.profil-fond-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(234, 191, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil-modal {
    width: 50%;
    height: 50%;
    background-color: #fff;
    padding: 0.5em;
    min-height: 200px;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil-modal-bloc-input {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-modal-input-div {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-modal-input-div label {
    margin-right: 1em;
    color: #BA80D8;
}

.profil-modal-input-div input {
    border: 1px solid #660099;
    border-radius: 1em;
    height: 1.5em;
    padding: 0 1em 0 1em;
    margin-top: 0.5em;
}

.profil-modal-input-div small {
    font-size: 0.7em;
}

.profil-modal-button {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.profil-modal-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    font-size: 1em;
    border: none;
    border-radius: 1em;
    text-decoration: none;
    margin-top: 0.5em;
    width: 40%;
    font-weight: bold;
    background: #660099;
    color: white;
    cursor: pointer;
}


/* RESPONSIVE */
@media (max-width: 768px)
{
    .profil-modal {
        width: 75%;
        height: 75%;
    }

    .profil-modal-bloc-input {
        width: 100%;
    }

    .profil-modal-input-div {
        margin-bottom: 1.5em;
    }

    .profil-modal-input-div input {
        border-radius: 1.5em;
        height: 2em;
        padding: 0 1em 0 1em;
    }

    .profil-modal-button {
        width: 100%;
    }

    .profil-modal-button button {
        height: 2em;
        font-size: 1em;
        border-radius: 1.5em;
    }
}