.bloc-erreur-text {
    padding-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.bloc-erreur-text h1 {
    color: #660099;
    font-size: 2.5em;
    margin-block-start: 0em;
}

.bloc-erreur-text p {
    margin-block-start: 0;
}

.bloc-central-contenu img {
    width: 75%;
    align-self: center;
}