.bloc-identite {
    display: flex;
<<<<<<< HEAD
=======
    margin-bottom: 0.5em;
}

.bloc-identite-notes {
    display: flex;
>>>>>>> 53417f2c1df72891dddc073bd462eb1b08a13e6e
}

.identite-span {
    color: #BA80D8;
<<<<<<< HEAD
=======
    margin-right: 0.5em;
}

.identite-par {
    margin-block-end: 0;
    margin-block-start: 0;
>>>>>>> 53417f2c1df72891dddc073bd462eb1b08a13e6e
}