.bloc-recherche input[type="text"] {
    background: no-repeat top left contain url("../images/loupe.png");
}

.recherche-input-range-css {
    margin-top: 0.5em;
    width: 100%;
    height: 5px;
    border-radius: 5px;
}

.bloc-recherche-input-filtre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    width: 100%;
}