.bloc-item-film-4 {
    width: 20%;
    margin-bottom: 2em;
    margin-left: 4%;
}

.bloc-item-film-3 {
    width: 28%;
    margin-bottom: 2em;
    margin-left: 4%;
}

.bloc-item-film-4 a, .bloc-item-film-3 a {
    text-decoration: none;
}

.bloc-item-film-4 a > img, .bloc-item-film-3 a > img {
    width: 90%;
}

.bloc-item-film-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bloc-item-film-title div {
    width: 15%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    align-self: flex-start;
}

.bloc-item-film-title img {
    width: 100%;
}

.bloc-item-film-4 a, .bloc-item-film-3 a {
    width: 85%;
}

.bloc-item-film-4 p, .bloc-item-film-3 p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: black;
}