/* GÉNÉRAL */
.bloc-profilUser {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.bloc-profilUser a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border-radius: 25px;
    text-decoration: none;
    margin-bottom: 1em;
}

.bloc-profilUser a img {
    height: 75%;
    margin-bottom: 0;
    margin-right: 5%;
}

/* PARTIE GAUCHE */
.bloc-profilUser-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc-profilUser-left > img {
    width: 95%;
    margin-bottom: 1em;
}

.bloc-profilUser-left a {
    width: 90%;
    font-weight: bold;
    background: #660099;
    color: white;
}

/* PARTIE DROITE */
.bloc-profilUser-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bloc-profilUser-right h1 {
    margin-block-end: 0.4em;
}

.input-modif-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25em;
    border-radius: 25px;
    text-decoration: none;
    width: 65%;
    margin-top: 1em;
    background: white;
    border: 2px solid #660099;
    color: #660099;
    font-size: 1em;
    cursor: pointer;
}

.input-deconnexion {
    width: 65%;
    font-weight: bold;
    background: #FAFF00;
    color: #660099;
    margin-top: 1em;
}


/* RESPONSIVE */
@media (max-width: 768px)
{
    .bloc-profilUser {
        padding: 1em;
        flex-direction: column;
        align-items: center;
    }

    .bloc-profilUser a {
        height: 3em;
        border-radius: 2.5em;
    }
    
    .bloc-profilUser-left {
        width: 100%;
    }

    .bloc-profilUser-left > img {
        width: 60%;
        margin-bottom: 1.5em;
    }

    .bloc-profilUser-left a {
        width: 60%;
    }
    
    .bloc-profilUser-right {
        width: 60%;
    }

    .input-modif-info {
        height: 3em;
        border-radius: 2.5em;
        width: 100%;
    }
    
    .input-deconnexion {
        width: 100%;
    }
}