/* BLOC FILM PRINCIPAL */
.bloc-film {
    display: flex;
    flex-direction: column;
    margin: 2em
}


/* BLOC HAUT AVEC AFFICHE ET DÉTAILS */
.bloc-film-haut {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}


/* AFFICHE */
.bloc-film-poster {
    width: 30%;
}

.bloc-film-poster img {
    width: 100%;
}


/* DÉTAILS FILM */
.bloc-film-details {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.bloc-film-titre {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1em;
}

.bloc-film-titre div {
    width: 20%;
    margin-right: 1em;
    cursor: pointer;
}

.bloc-film-titre div img {
    width: 100%;
}

.bloc-film-titre h1 {
    margin-block-end: 0;
}

.notes-detail-film {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.bloc-film-details button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 50%;
    font-weight: bold;
    background: #660099;
    color: white;
    cursor: pointer;
    align-self: center;
}

/* BLOC CRITIQUE DE PRESSE */
.bloc-film-critique {
    margin-bottom: 1.5em;
}

.bloc-film-critique h2 {
    margin-block-end: 0em;
}

.bloc-film-critique div p {
    margin-block-start: 0.5em;
}


/* BLOC AVIS SPECTATEURS */
.bloc-film-avis a {
    color: #660099;
}

.bloc-film-avis h2 {
    margin-block-end: 0em;
}

.bloc-film-avis div p {
    margin-block-start: 0.5em;
}

.bloc-avatar-avis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
}

.avatar-spectateur {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.avatar-spectateur img {
    width: 95%;
}

.avatar-spectateur p {
    margin-block-start: 0.5em;
}

.avis-spectateur {
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


/* BLOC MODAL */
.fiche-film-fond-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(234, 191, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiche-film-modal {
    width: 80%;
    height: 80%;
    background-color: #fff;
    padding: 0.5em;
    min-height: 200px;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fiche-film-modal button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    font-size: 1em;
    border: none;
    border-radius: 1em;
    text-decoration: none;
    margin-top: 0.5em;
    width: 10%;
    font-weight: bold;
    background: #660099;
    color: white;
    cursor: pointer;
}


/* RESPONSIVE */
@media (max-width: 1024px)
{
    .notes-detail-film {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    .bloc-film-poster {
        width: 40%;
    }

    .bloc-film-details {
        width: 55%;
    }

    .bloc-film-details button {
        width: 75%;
        align-self: center;
    }
}


@media (max-width: 768px)
{
    .bloc-film-haut {
        flex-direction: column;
        align-items: center;
    }

    .bloc-film-poster {
        width: 60%;
    }

    .bloc-film-poster img {
        width: 100%;
    }

    .bloc-film-details {
        width: 100%;
    }

    .bloc-film-titre {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }

    .fiche-film-modal {
        width: 90%;
        height: 90%;
    }

    .fiche-film-modal button {
        height: 2.5em;
        border-radius: 2em;
        margin-top: 1em;
        width: 20%;
    }
}